body
{
   background-image: url("../images/secondpage.jpg");
   background-size:cover;
   background-repeat: no-repeat;
   background-position: center center;
   /* background-attachment: fixed; */
   font-family: 'Bakbak One', cursive;
   width: 100vw;
   height: 100vh;
   /* position: relative; */
   overflow: hidden; 
}

.hidden
{
  visibility: hidden;
}
.images-display
{
   position: absolute;
   width: 200px;
   height: 200px;
}
.alert
{
    background-color: aliceblue;
    width: 500px;
    margin: 200px 400px;
    text-align: center;
    height: 350px;
}
.bomb {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: pointer;
    mix-blend-mode: multiply;
    border-radius: 50%;

}
.firedBomb
{
    position: absolute;
    cursor: pointer;
    width: 200px;
    height: 200px;
    /* mix-blend-mode: multiply; */
    border-radius: 50%;
}
button
{
    width: 30%;
    background-color: #367536;
    color: rgb(225, 230, 228);
    padding: 10px 15px;
    margin: 5px 0;
    border: 3px solid rgb(13, 13, 14);
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500px;
}
.welcome,.score,.time,.birds
{
    width: 15%;
    background-color: #08070a;
    color: rgb(225, 230, 228);
    padding: 10px 15px;
    border: 1px solid rgb(76, 76, 77);
    border-radius: 25px;
    cursor: pointer;
    font-size: 25px;
    position: relative;
    float:left;
    margin: 40px;
    text-align: center;
    opacity: .5;
    top:-770px;
}
#msg
{
    text-align: center;
    width: 600px;
    height: 400px;
    margin: auto;
    display: block;
    font-weight: bolder;
    font-size: larger;
    top:140px;
    left:350px;
    position:absolute;
    border: 3px solid grey;
    border-radius: 8px;
    background-color: rgb(122, 151, 177);
    opacity: .8;
}
#msg img {
    opacity: 0.7;
    width: 100px;
    height: 100px;
}
.finalAlert
{
    visibility: hidden;
}
